// @import url(http://fonts.googleapis.com/css?family=Oswald)
// @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css)
// // @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css)
// // @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js)
@import url(http://fonts.googleapis.com/css?family=Oswald)
@import url(https://bootswatch.com/cyborg/bootstrap.min.css)

c_orange = #FF3D00
c_write = #FFFFFF
c_black = #060606
c_gray = #888888
// background-color rgba(255, 61, 0, 0.4)
	
body
	font-family 'Oswald', sans-serif
	
.body
	background-color #F5F5F5

header
	// margin-top 90px
	margin-right auto
	margin-left auto
	text-align center
	background url('../img/background_sm.jpg')
	color c_orange
	img
		margin-top 90px
		height 120px
		width 120px
		border-radius 50%
		border 1px solid colorBlue
	p
		margin-top 10px	
		font-size 20px

.line
	border-bottom 1px solid c_orange 	
	margin 0 auto
	
.link
	color c_orange
	

.link_gray
	color c_black
	background-color rgba(85, 172, 238, 0.6)
	padding 2px 10px
	border-radius 8px
	&:hover
		text-decoration none
		color c_write

.link_black
	color c_black
	&:hover
		text-decoration none
		color c_write				
.wrap
	height 20px
	
.me
	margin-top 32px
	article
		margin o auto
		padding-left 41px
		padding-right 41px
		text-align justify
		h4
			color c_orange
		p
			color c_black	
		
.project
	display flex
	justify-content space-around
	flex-wrap wrap
	

.project_title
	width 100%
	text-align center
	h3
		font-size 32px			
		color c_black
	
.project_child
	margin-top 16px
	border-rigth 4px solid c_write	
	text-align center	
	width 300px
	height 360px
	text-align center		
	// background-color rgba(255, 61, 0, 0.5)
	border-bottom 1px solid rgba(255, 61, 0, 0.5) 	
	img
		margin-top 8px
	h2
		font-size 20px
		color c_black
		font-weight bold
	p
		text-align justify
		padding-left 12px
		padding-right 12px
		color c_black	
	a
		text-decoration none
		border-radius .2em
		padding .2em .6em
		&:hover
			color #FFFFFF
			transition all .3s ease	
	&:nth-child(1)
		margin-top 64px	

footer
	margin-top 20px
	height 40px		
	background-color c_black
	span
		padding-left 16px
		line-height 40px 
		a
			color c_gray
			
.space
	height 100px

@media screen and (min-width 450px)

	header
		background url('../img/background.jpg')	

	.me
		article
			margin o auto
			padding-left 70px
			padding-right 70px
			p
				font-size 18px
			   		 

// @media screen and (min-width 750px)

// @media screen and (min-width 1000px)

			
	