@import url(http://fonts.googleapis.com/css?family=Roboto)
@import url(https://bootswatch.com/cyborg/bootstrap.min.css)
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css)

c_orange = #FF3D00
c_white = #FFFFFF
c_white_down = #F5F5F5
c_black = #060606
c_gray = #888888
c_blue = rgba(85, 172, 238, 0.6)
c_black_down = rgba(6, 6, 6, 0.6)
c_twt = #55acee
c_fbk = #3b5998
c_gle = #DD4B39
c_ghb = #333333
// background-color rgba(255, 61, 0, 0.4)
	
body
	font-family 'Roboto', sans-serif
	height 100%

header
	// margin-top 90px
	position relative	
	height 100%	
	margin-right auto
	margin-left auto
	text-align center
	background url('../img/background_bg.png')
	background-size cover
    background-position center
	color c_orange
	p
		margin-top 2px	
		font-size 20px

footer
	margin-top 20px
	height 40px		
	background-color c_black
	.link_white
		line-height 50px
	span
		padding-left 16px
		line-height 50px 
		a
			color c_gray		
			
i
	&:after
		content ''
		padding-right 5px					
	
.body
	background-color c_white_down

.twt
	&:hover
		color c_twt

.gle
	&:hover
		color c_gle
	
.fbk
	&:hover
		color c_fbk

.ghb
	&:hover
		color c_ghb
	
.base
	color c_white					
	
.arrow
	p
		color c_black
		span
			color c_white	
	a	
		color c_orange	
		height 40px
		width 40px
		border-radius 50%
		&:hover
			color c_white
			transition 7s			

.description
	display none	

.avatar
	margin-top 100px
	height 120px
	width 120px
	border-radius 50%
	border 1px solid colorBlue

.social_ntwr
	// background-color c_black_down
	padding 4px 13px
	color c_blue
	line-height 20px
	border-radius 12px
	img
		margin-top -8px
		width 30px
		height 30px
		-webkit-animation none
		-moz-animation none
		-ms-animation none
		animation none
		
.social_ntwr
	a
		&:hover
			-webkit-animation pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)
  			-ms-animation pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)
	  		animation pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)
	
.line
	border-bottom 1px solid c_orange
	margin 0 auto
	
.link
	color c_orange
			

.link_white
	color c_white
	background-color colorBlue
	padding 2px 10px
	border-radius 8px
	&:hover
		text-decoration none
		color c_white
	&:focus
		outline-color transparent	
		text-decoration none
		color c_white

.link_black
	color c_black
	&:hover
		text-decoration none
		color c_white				
.wrap
	height 20px
	
.section
	margin-top 32px
	padding-left 35px
	padding-right 35px
	article
		margin o auto
		text-align justify
		h4
			color c_orange
		p
			color c_black
			font-size 18px
			font-weight 100
		a
			color c_orange
			text-decoration none
			&:hover
				color c_blue
				transition all .3s ease		
				

.habilities
	ul
		margin-top 20px
		color c_orange
		list-style none
		text-align justify		

.project
	display flex
	justify-content space-around
	flex-wrap wrap
	

.project_title
	width 100%
	text-align center
	h3
		font-size 28px			
		color c_black
		font-weight bold
	
.project_child
	margin-top 16px
	border-rigth 4px solid c_white	
	text-align center	
	width 300px
	height 300px
	text-align center		
	// background-color rgba(255, 61, 0, 0.5)
	border-bottom 1px solid rgba(255, 61, 0, 0.5) 	
	img
		margin-top 8px
	h2
		font-size 20px
		color c_black
		font-weight bold
	p
		text-align justify
		padding-left 12px
		padding-right 12px
		color c_black	
	a
		text-decoration none
		border-radius .2em
		padding .2em .6em
		color c_orange
		&:hover
			color c_blue
			transition all .3s ease	
	&:nth-child(1)
		margin-top 64px	


.space
	height 100px
	
			
	  
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}	


@media screen and (min-width 450px)
					
	.avatar
		margin-top 90px
		height 150px
		width 150px
		border-radius 50%
		border 1px solid colorBlue	
	
	.section
		article
			margin o auto
			padding-left 70px
			padding-right 70px
			p
				color c_black
				font-weight none								
			   		 

// @media screen and (min-width 750px)

// @media screen and (min-width 1000px)

			
	